*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading{
  font-family: 'Otomanopee One', sans-serif;
  color: blueviolet;
  text-align: center;
  margin: 50px 0px;
}

.img-div{
  margin: 50px 0px;
  display: flex;
  justify-content: center;
}

.img-div img{
  width: 250px;
  height: 300px;
}